<h1 mat-dialog-title>Opravdu chcete uložit nové rozložení polygonu?</h1>
<div mat-dialog-content>
  <p>
    <strong>Celková rozloha:</strong>&nbsp;{{ _selectedArea }}&nbsp;<strong
      >km<sup>2</sup></strong
    >
  </p>
</div>
<div mat-dialog-actions>
  <div class="space-between">
    <button
      mat-raised-button
      color="warn"
      (click)="_closeDialog(false)"
      cdkFocusInitial
    >
      Ne
    </button>
    <button mat-raised-button color="primary" (click)="_closeDialog(true)">
      Ano
    </button>
  </div>
</div>
