<h1 mat-dialog-title>{{ _title }}</h1>
<div mat-dialog-content>
  <p [innerHTML]="_description"></p>
</div>
<div mat-dialog-actions>
  <div class="space-between">
    <button
      [disabled]="_loading"
      mat-raised-button
      color="warn"
      (click)="_closeDialog(false)"
      cdkFocusInitial
    >
      Ne
    </button>
    <button
      mat-raised-button
      [class.spinner]="_loading"
      color="primary"
      [disabled]="!_allowYesButton || _loading"
      (click)="_closeDialog(true)"
    >
      Ano
    </button>
  </div>
</div>
