@import '../../../../../variables';

#users__add {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

#users__items {
  display: flex;
  flex-direction: column;

  .users__items-card {
    display: flex;
    align-items: center;
    background-color: rgb(240, 239, 239, 0.6);
    padding: 0 16px;
    height: 48px;
    margin-bottom: 2px;
    border-radius: 5px;

    @media only screen and (max-width: $screen-width-bigger) {
      height: inherit;
      flex-direction: column;
      padding: 8px 16px;
      align-items: flex-start;
    }

    &:hover {
      background-color: rgb(240, 239, 239, 0.9);
    }

    .users__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      @media only screen and (max-width: $screen-width-bigger) {
        flex-direction: column;
      }

      .users__item-position {
        flex: 1;
      }

      .users__item-name {
        flex: 10;
        display: flex;
        align-items: center;

        @media only screen and (max-width: $screen-width-bigger) {
          &:first-child {
            margin-top: 6px;
          }

          margin-bottom: 6px;
        }
      }
    }
  }

  .users__blocked-bg {
    background-color: rgb(220 29 29 / 20%);

    &:hover {
      background-color: rgb(220 29 29 / 10%);
    }
  }
}

.users__actions {
  display: flex;

  @media only screen and (max-width: $screen-width-bigger) {
    flex-direction: row;
    padding-bottom: 4px;
  }
}
