#schedule-detail__inputs {
  #schedule-detail__form {
    display: flex;
    flex-direction: column;
  }
}

#schedule-detail__actions {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
