@import '../../../variables';

.vote-process__layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vote-process__button {
  position: relative;
  top: 4px;
  height: 51.51px;
}

.delimiter {
  border-top: 2px solid black;
  margin-top: 12px;
  margin-bottom: 12px;
}

.link {
  color: $warn-text;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
