<h1 mat-dialog-title>Souhlas se zpracováním osobních údajů</h1>
<div mat-dialog-content *ngIf="!this._isPhonePersonalInformations">
  <ol class="inside-container">
    <li class="indentation">
      Udělujete tímto souhlas informačnímu systému autora se jménem Aleš
      Sedláček, aby ve smyslu nařízení Evropského parlamentu a Rady (EU) č.
      2016/679 o ochraně fyzických osob v souvislosti se zpracováním osobních
      údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES (obecné
      nařízení o ochraně osobních údajů) (dále jen „Nařízení“) zpracovávala tyto
      osobní údaje:
      <ul>
        <li>jméno a příjmení</li>
        <li>e-mail</li>
      </ul>
    </li>
    <li class="indentation">
      Jméno, příjmení a e-mail je možné zpracovat na základě Vámi uděleného
      souhlasu a je nutné zpracovat za účelem identifikace autora projektu. Tyto
      údaje budou Správcem zpracovány po dobu 2 let.
    </li>
    <li class="indentation">
      S výše uvedeným zpracováním udělujete svůj výslovný souhlas. Poskytnutí
      osobních údajů je dobrovolné. Souhlas lze vzít kdykoliv zpět, a to
      například zasláním emailu správci systému. Email: ales.sedlacek5@gmail.com
    </li>
    <li class="indentation">
      Vezměte, prosíme, na vědomí, že podle Nařízení máte právo:
      <ul>
        <li>vzít souhlas kdykoliv zpět</li>
        <li>
          požadovat po nás informaci, jaké vaše osobní údaje zpracováváme, žádat
          si kopii těchto údajů
        </li>
        <li>
          vyžádat si u nás přístup k těmto údajům a tyto nechat aktualizovat
          nebo opravit, popřípadě požadovat omezení zpracování
        </li>
        <li>
          požadovat po nás výmaz těchto osobních údajů pomocí kontaktování na
          mailové adrese: participativni.rozpoctovani@gmail.com
        </li>
        <li>na přenositelnost údajů</li>
        <li>
          podat stížnost u Úřadu pro ochranu osobních údajů nebo se obrátit na
          soud
        </li>
      </ul>
    </li>
  </ol>
</div>
<div mat-dialog-content *ngIf="this._isPhonePersonalInformations">
  <ol class="inside-container">
    <li class="indentation">
      Udělujete tímto souhlas informačnímu systému autora se jménem Aleš
      Sedláček, aby ve smyslu nařízení Evropského parlamentu a Rady (EU) č.
      2016/679 o ochraně fyzických osob v souvislosti se zpracováním osobních
      údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES (obecné
      nařízení o ochraně osobních údajů) (dále jen „Nařízení“) zpracovávala tyto
      osobní údaje:
      <ul>
        <li>telefonní číslo</li>
      </ul>
    </li>
    <li class="indentation">
      Telefonní číslo je možné zpracovat na základě Vámi uděleného souhlasu a je
      nutné zpracovat za účelem identifikace autora hlasu. Tyto údaje budou
      Správcem zpracovány po dobu 2 let a jsou jednosměrně zašifrované.
      Telefonní číslo není uloženo ve formátu, který by jej dovolal zneužít nebo
      libovolně číst.
    </li>
    <li class="indentation">
      S výše uvedeným zpracováním udělujete svůj výslovný souhlas. Poskytnutí
      osobních údajů je dobrovolné. Souhlas lze vzít kdykoliv zpět, a to
      například zasláním emailu správci systému. Email: ales.sedlacek5@gmail.com
    </li>
    <li class="indentation">
      Vezměte, prosíme, na vědomí, že podle Nařízení máte právo:
      <ul>
        <li>vzít souhlas kdykoliv zpět</li>
        <li>
          požadovat po nás informaci, jaké vaše osobní údaje zpracováváme, žádat
          si kopii těchto údajů
        </li>
        <li>
          vyžádat si u nás přístup k těmto údajům a tyto nechat aktualizovat
          nebo opravit, popřípadě požadovat omezení zpracování
        </li>
        <li>
          požadovat po nás výmaz těchto osobních údajů pomocí kontaktování na
          mailové adrese: participativni.rozpoctovani@gmail.com
        </li>
        <li>na přenositelnost údajů</li>
        <li>
          podat stížnost u Úřadu pro ochranu osobních údajů nebo se obrátit na
          soud
        </li>
      </ul>
    </li>
  </ol>
</div>
<div mat-dialog-actions>
  <div class="from-end">
    <button mat-raised-button color="primary" (click)="_closeDialog()">
      Zavřít
    </button>
  </div>
</div>
