<div class="page__container">
  <div id="vote__filters">
    <mat-form-field class="vote__filters-input" appearance="outline">
      <mat-label>Kategorie</mat-label>
      <mat-select
        [formControl]="_selectedCategory"
        name="category"
        multiple
        (selectionChange)="_getCategorizedProjects($event.value)"
      >
        <mat-option *ngFor="let option of _categories" [value]="option.value">
          {{ option.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <span class="spacer vote__filters-input"></span>

    <mat-form-field class="vote__filters-input-name" appearance="outline">
      <mat-label>Název</mat-label>
      <input
        matInput
        placeholder="Název"
        [(ngModel)]="_textSearch"
        (input)="_filterDo()"
      />
      <mat-icon matSuffix color="primary">create</mat-icon>
    </mat-form-field>
  </div>

  <div id="vote__items">
    <div
      *ngFor="let item of _filteredVoteItems"
      [ngStyle]="_getDecisionColor(item.decision)"
      class="vote__items-card"
    >
      <div
        class="vote__item"
        (click)="_openItemDetail(item.project_id)"
        [ngStyle]="_getImageContent(item.photo_path)"
      >
        <div class="vote__item-name">
          <span class="vote__text">{{ item.project_name }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
