$primary: #30475e;
$primary-text: #f0f0f0;
$primary-text-active: #f0f0f0;
$warn-text: #f05454;

$background-primary: #f0f0f0;

$primary-lighter: #436383;
$primary-darker: #213141;

$screen-width-big: 1250px;
$screen-width-bigger: 1100px;
$screen-width-medium: 800px;
$screen-width-1: 1000px;
$screen-width-2: 615px;
