<div *ngIf="_state.subject" class="side-nav__container">
  <ul class="side-nav__block">
    <li>
      <a
        [routerLink]="[_state.subject.name, 'proposal']"
        routerLinkActive="active"
        (click)="_emitToggleHamburger()"
        >navrhnout</a
      >
    </li>
    <li>
      <a
        [routerLink]="[_state.subject.name, 'vote']"
        routerLinkActive="active"
        (click)="_emitToggleHamburger()"
        >hlasovat</a
      >
    </li>
    <li>
      <a
        [routerLink]="[_state.subject.name, 'result']"
        routerLinkActive="active"
        (click)="_emitToggleHamburger()"
        >projekty</a
      >
    </li>
    <li>
      <a
        [routerLink]="[_state.subject.name, 'schedule']"
        routerLinkActive="active"
        (click)="_emitToggleHamburger()"
        >harmonogram</a
      >
    </li>
    <li>
      <a [matMenuTriggerFor]="menu" [class.active]="_isHistoryPageActive"
        >historie</a
      >
    </li>
    <li>
      <a
        [routerLink]="[_state.subject.name, 'contact']"
        routerLinkActive="active"
        (click)="_emitToggleHamburger()"
        >kontakty</a
      >
    </li>
    <!-- ADMIN -->
    <li *ngIf="user">
      <a [matMenuTriggerFor]="menuAdmin" [class.active]="_isAdminPageActive"
        >administrace</a
      >
    </li>
  </ul>
</div>

<mat-menu #menu="matMenu">
  <button
    *ngFor="let year of _historicalYears"
    mat-menu-item
    [routerLink]="[_state.subject?.name, 'history', year]"
    routerLinkActive="active"
    (click)="_emitToggleHamburger()"
  >
    {{ year }}
  </button>
</mat-menu>

<mat-menu #menuAdmin="matMenu">
  <button mat-menu-item disabled>
    <mat-icon>account_circle</mat-icon>
    <span>{{ user?.displayName }}</span>
  </button>
  <button
    mat-menu-item
    [routerLink]="[_state.subject?.name, 'admin']"
    routerLinkActive="active"
    (click)="_emitToggleHamburger()"
  >
    <mat-icon>privacy_tip</mat-icon>
    <span>Interní systém</span>
  </button>
  <button mat-menu-item (click)="_logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Odhlásit se</span>
  </button>
</mat-menu>
